*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.btn{
    background-color:rgb(132, 84, 255);
    color:white;
}
.btn:hover{
    border:2px solid rgb(20, 236, 38);
    background-color: white;
    color:rgb(132, 84, 255);
    font-weight: bold;
}
.navbar-nav{
    font-weight: bold;
}
.navbar a{
    color:white;
    height:50%;
    width: fit-content;
}
.logo{
    height:45px;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="2" d="M5 15h20M5 7h20M5 23h20"/%3E%3C/svg%3E');
    
  }
.navbar-toggler{
    border:none;
}
.navbar-toggler:focus{
    border:none;
    box-shadow: none;
}
#homelink.active{
    color:white;
}
.nvlinks.active{
    color:white !important;
    font-size: 1.2rem;
    background-color: rgb(132, 84, 255);
}
 .nav-link:hover,.nav-link:focus{
    color:white;
} 

.nav-link span{
    width:max-content;
    position: relative;
}
.nav-link span::before{
    position: absolute;
    top:22px;
    left:0px;
    content:"";
    background:white;
    width:0;
    height:3px;
    transition: width 0.3s ease;

}
.nav-link span:hover::before {
    width: 100%; /* Full width on hover */
  }

/* #homelink::before{
    position: absolute;
    top:30px;
    content:"";
    background:white;
    width:50%;
    
    height:2px;
} */
 @media(max-width:388px){
    .navbar-toggler{
        margin-right:32px !important;
    }

 }
 @media (min-width:992px) and (max-width:1250px){
    #navbarNavAltMarkup{
        margin-left:14%;
    }
 }

 /* hero section */
 
.hero{
    background:black;
    background-size:cover;
    height:100vh;
    background-attachment: fixed;
    position: relative;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: top-center;    
    z-index: 0;
    color:white;
}
.card{
    background:black;
    border: 2px dotted white;
    border-radius:50%;
    width:400px;
    height:400px;
    background-image: url("images/myimg.png");
    padding-left:10px;
    background-position: -33% center;
}
.card img{
    width:100%;
    
}
.about{
    height:100vh;
}

.scroll{
    background-color: #270b34;
    /* padding:0; */
    transition: 0.3s;
}
/* #navbar{
    border:2px solid white;
} */
@media(max-width:991.98px){
    #navbar{
        background: #270b34 !important;
        
    }
    /* .hero{
        background-size:contain;
    } */
}
.subheading{
    font-size: 13px;
    /* display: block; */
    margin-bottom: 5px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.sh-container{
    padding:5px;
    background: rgb(132, 84, 255);
    width:max-content;
    border-radius: 4px;
    margin-left:0px;
}